@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Oswald');


/* 
    A website detailing the reasearch on social networking
    Author: Brenden Riley
    Date: 9.28.18
*/

body>h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: oswald;
    letter-spacing: .4em;

}

nav {
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: .08em;
}

a#leftside {
    margin-left: 5%;
    padding: 5px 9%;
}

a#center {
    padding: 5px 18%;
}

a#rightside {
    margin-right: 5%;
    padding: 5px 9%;
}

aside#left {
    padding-bottom: 100%;
    float: left;
    border-top: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    width: 15%;
}

aside#right {
    padding-bottom: 100%;
    float: right;
    border-top: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    width: 15%;
}

article {
    padding-bottom: 100%;
}