@charset "utf-8";

/* 
    A website detailing the reasearch on social networking
    Author: Brenden Riley
    Date: 9.28.18
*/

body>h1 {
    font-size: 3.5em;
}

nav {
    background-color: rgb(118, 118, 133);
}

nav>a {
    text-decoration: none;
}

nav>a:link,
nav>a:visited {
    color: white;
}

nav>a:active,
nav>a:hover {
    background-color: rgb(85, 85, 90)
}

html {
    background-color: rgb(122, 164, 228);
}

aside {
    background-color: rgb(118, 118, 133)
}

article {
    background-color: white;
}